// fonts

// home_1 variable
$font1: "Mulish", sans-serif;
$font2: "Mulish", sans-serif;

$primary_color: #00124e;
$secondary_color: #24aeb1;
$body_color: #687083;
$body_text: #687083;
/* --------------------------- other common color::end --------------------------- */
$black: #000;
$gray-color: #ddd;
$text1: #676e8b;
$text2: #676e8b;
$text3: #333333;

// theme colors
$primary_color2: #627ae4;
$primary_color3: #ffd500;
$primary_color4: #fd1c5e;
$white: #fff;
$b_color: #f1f1f1;
// btn bg

$btn_bg_2: #4543de;

// responsive query
$small_mobile: "(max-width: 575.98px)";
$large_mobile: "(min-width: 576px) and (max-width: 767.98px)";
$tab: "(max-width: 767.98px)";
$tab2: "(max-width: 991.98px)";
$medium_device: "(min-width: 768px) and (max-width: 991.98px) ";
$lg_device: "(min-width: 992px) and (max-width: 1199.98px)";
$large_xl: "(min-width: 1200px) and (max-width: 1399.98px)";
$xl_device: "(min-width: 1200px)";
$max_lg: "(max-width: 1199.98px)";
$min_large: "(min-width: 1600px)";

$tab_device: "only screen and (min-width: 768px) and (max-width: 991.98px)";
$big_screen: "only screen and (min-width: 1200px) and (max-width: 1440px)";
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: $font2;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font1;
    color: $primary_color;
  }
  p {
    font-family: $font2;
    color: $body_color;
    font-size: 16px;
    line-height: 1.63;
  }
}
.img {
  max-width: 100%;
  transition: 0.3s;
}
a {
  text-decoration: none;
}
a,
.button,
button {
  transition: 0.3s;
}
a:focus,
.button:focus,
button:focus {
  text-decoration: none;
  outline: none;
}
a:focus {
  text-decoration: none;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
  // color: #000;
}
input:focus,
button:focus {
  outline: none;
}
a,
button {
  outline: medium none;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: $font1;
  color: $primary_color;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h4 {
  font-size: 20px;
  line-height: 25px;
}

ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: $text1;
  margin-bottom: 0;
  font-family: $font1;
}
.navbar-nav {
  a {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    &.active {
      color: $secondary_color;
    }
  }
}

footer.home_footer {
  background: $black;
  .footer_top_area {
    padding-top: 50px;
    padding-bottom: 55px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }
  .main_footer_wrap {
    padding-top: 97px;
    padding-bottom: 59px;
    @media #{$tab} {
      padding-top: 69px;
      padding-bottom: 45px;
    }
    .footer_widget {
      margin-bottom: 30px;
      .footer_logo {
        margin-bottom: 10px;
      }
      .footer_title {
        h3 {
          font-family: $font2;
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 10px;
          text-transform: uppercase;
          color: $white;
        }
      }
      .footer_links {
        li {
          a {
            font-size: 16px;
            font-weight: 400;
            color: $white;
            font-family: $font2;
            line-height: 1.88;
            &:hover {
              color: $secondary_color;
            }
          }
        }
      }
      .address_list {
        max-width: 270px;
        p {
          font-size: 14px;
          color: #656565;
          margin-bottom: 0;
          line-height: 1.86;
          font-weight: 500;
          margin-bottom: 15px;
          &:not(:last-child) {
            margin-bottom: 0;
          }
          span {
            font-weight: 700;
          }
        }
      }
      .large_address {
        font-size: 40px;
        font-weight: 700;
        color: $white;
        margin-bottom: 1px;
        display: flex;
        align-items: flex-start;
        line-height: 0.75;
        @media #{$tab} {
          font-size: 30px;
        }
        span {
          font-size: 20px;
          font-weight: 500;
          margin-right: 5px;
          display: inline-block;
        }
      }
      .footer_opening_time {
        margin: 15px 0 12px 0;
        padding-bottom: 14px;
        border-bottom: 1px solid #151515;
        p {
          font-size: 13px;
          font-weight: 500;
          line-height: 1.77;
          color: $body_text;
          text-transform: uppercase;
        }
      }
      .help_text {
        p {
          font-size: 16px;
          font-weight: 500;
          color: $white;
          a {
            color: #c96e15;
          }
        }
      }
      .address_text {
        font-size: 16px;
        font-weight: 400;
        font-family: $font2;
        color: $body_text;
        margin-bottom: 19px;
        line-height: 1.63;
        max-width: 240px;
      }
      .social__Links {
        a {
          color: #808080;
          &:hover {
            color: $secondary_color;
          }
        }
      }
    }
  }
  .copyright_area {
    padding-bottom: 28px;
    .footer_border {
      border-top: 1px solid #151515;
      margin-bottom: 23px;
    }
    .copy_right_text {
      margin-bottom: 30px;
      p {
        margin-bottom: 0;
        font-size: 14px;
        color: #666666;
        font-weight: 500;
        font-family: $font2;
        text-transform: capitalize;
        a {
          color: $secondary_color;
        }
      }
    }
    .payment_imgs {
      text-align: right;
      margin-bottom: 30px;
      img {
        @media #{$small_mobile} {
          width: 100%;
        }
        @media #{$tab2} {
          width: 100%;
        }
      }

      @media #{$tab} {
        text-align: left;
      }
    }
  }
}
.logo_text {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff !important;
}
.section_padding {
  padding: 120px 0;
  @media #{$tab} {
    padding: 60px 0;
  }
}

.custom_cehck_icon {
  padding: 0;
  background: #fff !important;
  border: 0;
  font-size: 20px;
  background: transparent !important;
  box-shadow: none !important;
  &:focus {
    outline: none;
    box-shadow: none;
  }
  svg {
    color: #000;
    font-size: 20px;
  }
}
